/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2017, 2:30:35 PM
    Author     : Peter
*/

.image1{
    width:304px;
    height:228px;
    
    
}